[mysqld]
#datadir=/var/lib/mysql
#socket=/var/lib/mysql/mysql.sock
#basedir=/home/mysql/soft/mysql-5.6.30-linux-glibc2.5-x86_64
datadir=/mariadb/mysql
socket=/mariadb/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

port		= 3306
skip-external-locking
key_buffer_size = 384M
max_allowed_packet = 1M
table_open_cache = 512
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size = 32M
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 8

# add by xienan
max_connections=500
default-storage-engine=INNODB
lower_case_table_names=1
open_files_limit=65535
innodb_open_files=500
innodb_buffer_pool_size = 64M
innodb_log_buffer_size = 2M
innodb_write_io_threads = 4
innodb_read_io_threads = 4
innodb_thread_concurrency = 0
innodb_purge_threads = 1
interactive_timeout=1200
transaction_isolation = READ-COMMITTED
init_connect='SET autocommit=0'

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

